<head>
	<div class="ed-container">
		<div class="ed-item full home">
			<img src="https://seeklogo.com/images/F/fish-logo-44359CF86B-seeklogo.com.png" width="100px;">
			<div>
			<h1>EL RINCON DEL SABOR</h1>
			</div>
		</div>
	</div>
</head>
<main>
	<div class="home">
		<img src="https://italian-restaurant.weblium.com/images/404471e01ec4f712d7b22898906fb57c.png">
	</div>
	<div class="welcome">
		<div class="ed-container">
			<div class="ed-item m-50 welcome_to">
				<div>
					<h1>Bienvenido al Rincon del Sabor</h1>
					<hr>
				<p>Bienvenido al sitio web de El Rincon del Sabor.Queremos brindar la mejor sensación para nuestro cliente. Nuestra misión es hacer todo desde cero. Esto significa traer un gran producto y tratarlo con la mayor atención y creatividad que se merece ".</p>
				</div>
			</div>
			<div class="ed-item m-50">
				<img src="http://demo.tortoizthemes.com/litmus-demo/restaurant/assets/images/restaurant/chef-image.png">
			</div>
		</div>
	</div>
	<div class="about">
		<div class="ed-container">
			<div class="ed-item m-50">
				<img src="https://italian-restaurant.weblium.com/images/179134a881e3f47f9b010eb1d2d2e22b.jpeg" alt="">
			</div>
			<div class="ed-item m-50 about-home">
				<h1>Quiene somos</h1>
				<hr>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>		
	</div>
	<div class="menu">
		<div class="ed-container">
			<div class="foods">
				<h1>Nuestro menú</h1>
				<img src="https://i.pinimg.com/originals/22/7d/3c/227d3c6c42a435c7bae6ae6d3b0ecdab.jpg" width="400px" alt="">
				<img src="https://i.pinimg.com/originals/22/7d/3c/227d3c6c42a435c7bae6ae6d3b0ecdab.jpg" width="400px" alt="">
				<img src="https://i.pinimg.com/originals/22/7d/3c/227d3c6c42a435c7bae6ae6d3b0ecdab.jpg" width="400px" alt="">
				<img src="https://i.pinimg.com/originals/22/7d/3c/227d3c6c42a435c7bae6ae6d3b0ecdab.jpg" width="400px" alt="">
			</div>
		</div>
	</div>
</main>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2899.7535498629904!2d-75.70350343582327!3d-14.035389727053648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x911102ae0e5bd7fd%3A0xab3e70616de0706d!2sRest.+El+Buen+Sabor!5e0!3m2!1ses-419!2spe!4v1523772857125" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<footer>
	<div class="ed-container">
		<div class="ed-item m-1-3">
			<H2>EL RINCON DEL SABOR</H2>
			<p class="silver">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		</div>
		<div class="ed-item m-1-3 contact">
			<h2>Contactanos</h2>
			<h3>#945425235</h3>
			<h3>facebook</h3>
			<h3>twitter</h3>
		</div>
		<div class="ed-item m-1-3">
			<img src="https://seeklogo.com/images/F/fish-logo-44359CF86B-seeklogo.com.png" width="70px">
		</div>
	</div>
</footer>
<script type="text/javascript" src="../../assets/javascripts/ed-grid.js
"></script>
